{% extends "base.html" %}

{% block title %}
Buy {{product.title}}
{% endblock %}

{% block body %}

<!-- Display the not_enough_error -->
<!-- TODO make them clickable -->
{% if not_enough_error %}
<h1>Seems you don't have enough money to buy this product</h1>
<p>Go to this link to redeem a gift card or here to sell a product</p>
{% endif %}
{% if same_user%}
<h1>You can't buy your own product!</h1>
<p>Explore other products!</p>
{% else %}

{% if product %}

<!-- Card view -->
<h2>Buy this product =></h2>
<div class="row">
    <!-- TODO center this div or card -->
    <div class="col-4">
        <!-- TODO add this image later -->
        <!-- <img src="images/product-1.jpg"> -->
        <h4> {{product.name}}</h4>

        <!-- TODO COMPLETE RATING -->
        <!-- <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
        </div> -->

        <p>${{product.price}}</p>
        <input type="number" value="1">
        <a href="" class="btn">Add To Cart</a>

        <h3>Product Details <i class="fa fa-indent"></i></h3>
        <br>
        <p>{{product.desc}}</p>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{product.id}}" hidden=True>
            <button class="btn" type="submit">Buy Now! for ${{product.price}} only!</button>
        </form>

        <!-- Rating comments -->

        <!-- Create a new Rating form -->
        <form action="/rate?id={{product.id}}" method="post">
            {% csrf_token %}
            <!-- Add the nicer rating bar -->
            {{rating_form}}
            <button type="submit">Rate this product!</button>
        </form>

        <!-- TODO add the loop to display  all the ratings -->
        {% if ratings %}
        {% for rating in ratings %}
        <p>{{rating.text}}</p>
        <p>{{rating.rating_num}}</p>
        {% endfor %}
        {% endif %}
    </div>

</div>
{% else %}
<h3>We could not find the product you specified!</h3>
<form action="/explore">
    {% csrf_token %}

    <button type="submit">Go back to exploring more products</button>
</form>
{% endif %}
{% endif %}

{% endblock %}