{% extends "base.html" %}

{% block title %}
SignUp
{% endblock %}

{% block body %}
<form action="/register" method="post">
{% csrf_token %}
{{form}}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<!-- Add the form elements here @Beemo -->

                      <!-------- account page--------->
                      <div class="account-page">
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <img src="images/Girl-Smile-Transparent-Background.png" width="100%">
                                </div>
                    
                                <div class="col-2">
                                    <div class="form-container">
                                        <div class="form-btn">
                                            <span onclick="login()">Login</span>
                                            <span onclick="register()">Register</span>
                                            <hr id="Indicator">
                                        </div>
                    
                                        <form id="LoginForm">
                                            <input type="text" placeholder="Username">
                                            <input type="password" placeholder="Password">
                                            <button type="submit" class="btn">Login</button>
                                            <a href="">Forget Password</a>
                                        </form>
                    
                                        <form id="RegForm">
                                            <input type="text" placeholder="Username">
                                            <input type="email" placeholder="Email">
                                            <input type="password" placeholder="Password">
                                            <button type="submit" class="btn">Register</button>
                                            
                                        </form>
                    

<button type="submit">Signup</button>

</form>


                <!-------- Footer --------->

                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col-1">
                                <h1>Download Our App</h1>
                                <p>Download App for Andriod and ios mobile phone.</p>
                                <div class="app-logo">
                                    <img src="images/play-store.png" alt="">
                                    <img src="images/app-store.png" alt="">
                                </div>
                            </div>
                            <div class="footer-col-2">
                                <img src="images/logo-white.png">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                            </div>
                            <div class="footer-col-3">
                                <h3>Useful Links</h3>
                                <ul>
                                    <li>Coupons</li>
                                    <li>Blog Post</li>
                                    <li>Return Policy</li>
                                    <li>Join Afiliate</li>
                                </ul>
                            </div>
                            <div class="footer-col-4">
                                <h3>Useful Links</h3>
                                <ul>
                                    <li>Facebook</li>
                                    <li>Twitter</li>
                                    <li>Instagram</li>
                                    <li>Youtube</li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <p class="copyright">Copyright 2020 - Eccomerce App</p>
                    </div>
                </div>

            <!--------- js for toggle menu----------->
                <script>
                    var MenuItems = document.getElementById("MenuItems");

                    MenuItems.style.maxHeight = "0px";

                    function menutoggle(){
                        if(MenuItems.style.maxHeight == "0px")
                        {
                            MenuItems.style.maxHeight = "200px";
                        }
                    else
                        {
                            MenuItems.style.maxHeight = "0px";
                        }
                    }
                </script>

                <!--------- js for toggle Form----------->

                <script>
                
                var LoginForm = document.getElementById("LoginForm");
                var RegForm = document.getElementById("RegForm");
                var Indicator = document.getElementById("Indicator");

                    function register(){
                        RegForm.style.transform = "translateX(0px)";
                        LoginForm.style.transform = "translateX(0px)";
                        Indicator.style.transform = "translateX(100px)";
                    }

                    function login(){
                        RegForm.style.transform = "translateX(300px)";
                        LoginForm.style.transform = "translateX(300px)";
                        Indicator.style.transform = "translateX(0px)";
                    }

                </script>


{% endblock %}
