{% extends "base.html" %}

{% block body %}
{% if next %}
<form action="/signin?next={{next}}" method="POST">
    {% else %}
    <form action="/signin" method="post">
        {% endif %}

        {% csrf_token %}
        {{form}}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <!-- Add the form elements here @Beemo -->



        <button type="submit">Sign In</button>
    </form>
    {% endblock %}